<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Add Staff Data</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="AddstaffData">
  <table width="372" height="369" border="2">
    <tr>
      <th width="166" scope="row">Name</th>
      <td width="188"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Home</th>
      <td><label>
      <input type="text" name="textfield2" />
</label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pincode</th>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Age</th>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="radio" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="radio" />
          Female</label>
        <br />
      </p>  <label></label></td>
    </tr>
    <tr>
      <th scope="row">Experience</th>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Specialization</th>
      <td><label>
        <input type="text" name="textfield9" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Designation</th>
      <td><label>
      <select name="select">
        <option value="1">Doctor</option>
        <option value="2">Pharmacist</option>
        <option value="3">Nurse</option>
      </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">License Number </th>
      <td><label>
        <input type="text" name="textfield11" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <th scope="row"><label>
        <input type="text" name="textfield12" />
      </label></th>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <th scope="row"><label>
        <input type="password" name="textfield13" />
      </label></th>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
