<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Admin Homepage</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="283" height="238" border="1">
    <tr>
      <td><a href="Homepage">HOME PAGE</a></td>
    </tr>
    <tr>
      <td width="243"><a href="Manage Time Slot">Add Time Slot For Doctor</a></td>
    </tr>
    <tr>
      <td><a href="Add time">Add Time Slot For Vaccine </a></td>
    </tr>
    <tr>
      <td><a href="Addstaff">Add Staff Data</a><a href="View Staff Data"></a></td>
    </tr>
    <tr>
      <td><a href="View Staff Data">View Staff Data</a><a href="View Booking For Doctor"></a></td>
    </tr>
    <tr>
      <td><a href="View Booking For Doctor">View Doctor Booking</a><a href="Viewvaccine"></a></td>
    </tr>
    <tr>
      <td><a href="Viewvaccine">Vaccine Details</a><a href="View Feedback"></a></td>
    </tr>
    <tr>
      <td><a href="View Feedback">View Feedback</a><a href="Sent Notification"></a></td>
    </tr>
    <tr>
      <td><a href="Sent Notification">Sent notification</a><a href="View Vaccine Booking"></a></td>
    </tr>
    <tr>
      <td><a href="View Vaccine Booking">View Vaccine Booking</a><a href="#"></a></td>
    </tr>
    <tr>
      <td><a href="#">LOG OUT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
