<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ViewStaffData</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1109" height="345" border="2">
    <tr>
      <th width="135" scope="col">Name</th>
      <th width="80" scope="col">House</th>
      <th width="68" scope="col">Place</th>
      <th width="48" scope="col">City</th>
      <th width="59" scope="col">Pincode</th>
      <th width="58" scope="col">Age</th>
      <th width="55" scope="col">Gender</th>
      <th width="78" scope="col">Experience</th>
      <th width="91" scope="col">Specialization</th>
      <th width="92" scope="col">Designation</th>
      <th width="73" scope="col">License Number </th>
      <th width="65" scope="col">Status</th>
    </tr>
{% for i in val %}
    <tr>
      <td height="143">{{i['Name']}}</td>
      <td>{{i['House']}}</td>
      <td>{{i['Place']}}</td>
      <td>{{i['City']}}</td>
      <td>{{i['Pincode']}}</td>
      <td>{{i['Age']}}</td>
      <td>{{i['Gender']}}</td>
      <td>{{i['Experience']}}</td>
      <td>{{i['Specialization']}}</td>
      <td>{{i['Designation']}}</td>
      <td>{{i['License number']}}</td>
      <td><p><a href="Activate?id={{i['E_id']}}"> Activate</a></p>
      <p><a href="Inactivate?id={{i['E_id']}}">Inactivate</a></p></td>
    </tr>
{% endfor %}
  </table>
</form>
</body>
</html>
